include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include crm_chat_integration *.css
recursive-include crm_chat_integration *.csv
recursive-include crm_chat_integration *.html
recursive-include crm_chat_integration *.ico
recursive-include crm_chat_integration *.js
recursive-include crm_chat_integration *.json
recursive-include crm_chat_integration *.md
recursive-include crm_chat_integration *.png
recursive-include crm_chat_integration *.py
recursive-include crm_chat_integration *.svg
recursive-include crm_chat_integration *.txt
recursive-exclude crm_chat_integration *.pyc
